<ngb-tabset type="{{tabtype}}" justify="{{tabJustify}}">
    <ngb-tab *ngFor="let tab of contenttabs" [disabled]="tab.disabled">
        <ng-template ngbTabTitle>{{tab.title}}</ng-template>
        <ng-template ngbTabContent>
               <p>{{tab.content}}</p>
        </ng-template>
    </ngb-tab>
</ngb-tabset>