<div class="col-md-12">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{timepicker.title}}</h3>
            <h6 class="card-subtitle">{{timepicker.subtitle}}</h6>
            <ngb-timepicker [(ngModel)]="time" [seconds]="timepicker.seconds" 
            [meridian]="timepicker.meridian" [spinners]="timepicker.spinners"></ngb-timepicker>
            <hr>
            <pre>Selected time: {{time.hour }}:{{time.minute}}:{{time.second}}</pre>
        </div>
    </div>
</div>