<ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one" >
    <ngb-panel *ngFor="let acc of accordian" title="{{acc.title}}"  id="config-panel-{{acc.id}}" ngbPanelToggle>
      <ng-template ngbPanelHeader *ngIf="acc.enableheader" >
        <div class="d-flex align-items-center justify-content-between">
            <button ngbPanelToggle class="btn btn-link container-fluid text-left pl-0">{{acc.header}}</button>
        </div>
        </ng-template>
        <ng-template ngbPanelContent>{{acc.content}}</ng-template>
    </ngb-panel>
</ngb-accordion>